body {
  font-family: "Montserrat", sans-serif;
  background-color: #080808;
  color: #ffffff;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
}
.leaderboard-item {
  font-size: 16px;
  font-weight: 700;
  padding: 12px 20px;
  border-radius: 10px;
  color: #fff;
  border: 0.5px solid #fff;
}
.hidden-buttons {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease-out;
}
.hidden-buttons.show {
  opacity: 1;
  max-height: 200px;
}
.button {
  background-color: #d39f39;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-weight: 700;
  text-align: center;
  display: block;
}
.arrow-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.3s ease;
}
.arrow-button:hover {
  transform: scale(1.1);
}
#leaderboardList::-webkit-scrollbar {
  display: none;
}
#leaderboardList {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
